* {
  margin: 0;
}


.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 150%;
  margin: 0 auto -4em;
}

#h3 {
    margin-left: 0%;
    border : 1px;
}

#game{
	text-align:left;
}
#container{
	width: 50%;
	max-width: 2px;
	margin: 0 auto;
	clear: both;	
}

